<div class="w-full h-full grid grid-cols-[auto_0_1fr]">
  <aside class="h-full w-fit">
    <ul class="w-full h-full flex flex-col justify-evenly items-start">
      <li><a routerLink="lean-ux-canvas">Lean UX Canvas</a></li>
      <li><a routerLink="segmentos-objetivos">Segmentos Objetivos</a></li>
      <li><a routerLink="user-personas">User Personas</a></li>
      <li><a routerLink="user-task-matrix">User Task Matrix</a></li>
      <li><a routerLink="user-journey-map">User Journey Map</a></li>
      <li><a routerLink="empathy-map">Empaty Map</a></li>
      <li><a routerLink="product-backlog">Product Backlog</a></li>
      <li><a routerLink="sprint-backlog">Sprint Backlog</a></li>
      <li><a routerLink="boards">Boars</a></li>
    </ul>
  </aside>
  <router-outlet/>
</div>
